
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
}

h2 {
    color: #333;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    overflow: hidden;;
}

input[type="submit"] {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.close {
    float: right;
    font-weight: bold;
    align-items: right;
    cursor: pointer;
}
.notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 9999;
}

#postList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px); 
    
}

.auction {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.auction img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.auction-modal{
    background-color: #fff;
    margin: 5% auto; 
    padding: 20px;
    width: 80%;
    max-width: 600px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-container label {
    display: block;
    margin: 10px 0 5px; 
}

#auctionTitle,
#auctionDescription,
#auctionImage,
#auctionDuration,
#bidPrice,
#startingPrice{
    width: 95%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

.bid-button {
    position: absolute;
    bottom: 3px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}


#verifyEmailButton {
    padding: 5px 10px;
    margin-left: 10px;
    position: absolute;
  }